


<div class="card text-center">
  <div class="card-header">
    <h5 class="card-title"><%= @requirement.interest.interest_name + ' ' + @requirement.interest.interest_type %></h5>
     <h6 class="card-subtitle mb-2 text-muted"><%= @requirement.requirement_type %></h6>
  </div>
  <div class="card-body">
        <div class="row" >
          <aside class="col-md-6">
            <section style="float:left">
              <p style="text-align:left" class="card-text">
                <strong>Requirement name:</strong>
                <%= @requirement.requirement_name %>
                <br>
                 <strong>Number of courses needed in requirement:</strong>
                  <%= @requirement.courses_towards_requirement %>
              </p>
            </section>
          </aside>
          
          <aside class="col-md-6">
            <section>
              <p class="card-text">
                  <strong>Courses:</strong>
                  <ul>
                  <% @requirement.course_requirements.each do |cr| %>
                  <li style = "list-style:none; font-size: 0.8em"> <%= cr.course.department.dep_short_name + '' + cr.course.course_number.to_s + ' ~ ' + cr.course.course_full_name %> </li>
                  <% end %>
                  </ul>
              </p>
            </section>
          </aside>
          
        </div>
  </div>
</div>


<% if current_user.admin? %>
  <%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<% end %>
<%= link_to 'Back', requirements_path %>
