<%= form_for(@user) do |f| %>
    
  <div class="field">
    
    <table style = "width:auto">
      <thead>
        <tr>
          <th>Course</th>
          <th>Select if you took this section</th>
        </tr>
      </thead>
    <%= hidden_field_tag "user[section_ids][]", nil %>
    <% Section.all.each do |section| %>
      <tr>
       <td><%= check_box_tag "user[section_ids][]", section.id, @user.section_ids.include?(section.id), id: dom_id(section) %></td>
       <td><%= label_tag dom_id(section), section.course.department.dep_short_name + '' + section.course.course_number.to_s + '' + section.section_letter + ' - ' + section.semester + ' ' + section.section_year.to_s %></td>
      </tr> 
    <% end %>        
    </table>

  </div>

		<div style = "width:50%"><%= f.submit   "Add Sections", class: "btn btn-primary" %></div>
<% end %>