<h1 style = "text-align: center">GAMEPLAN</h1>

<div class = "row">
    <aside class="col-md-4">
    <section>
      <div id="accordion">
        <% @userreqs2.each do |requirement| %>
          <div class="card text-center">
            <div class="card-header" id="headingOne<%=requirement.id%>">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne<%=requirement.id%>" aria-expanded="false" aria-controls="collapseOne<%=requirement.id%>">
                      <h5 class="card-title"><strong><%= requirement.requirement_type%></strong></h5>
                       <h6 class="card-subtitle mb-2 text-muted"> Courses Needed out of list: <%= requirement.courses_towards_requirement %></h6>
      
                </button>
              </h5>
            </div>
        
            <div id="collapseOne<%=requirement.id%>" class="collapse" aria-labelledby="headingOne<%=requirement.id%>" data-parent="#accordion">
              <div class="card-body">
                 <ul class="list-group list-group-flush">
                    <% requirement.course_requirements.each do |cr| %>
                          <li class="list-group-item" style="font-size:0.5em;"><%= cr.course.department.dep_short_name + '' + cr.course.course_number.to_s + ' ~ ' + cr.course.course_full_name %></li>
                    <% end %>
                  </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </aside>
</div>

<div class ="row">
    <h5>SECTIONS NOT INCLUDING THOSE TAKEN</h5>
    <br>
    <table style ="width:100%" class="blueTable">
        <thead>
            <tr>
                <th>Dep/number</th>
                <th>Course</th>
                <th>Credits</th>
                <th>Professor</th>
                <th>Semester</th>
                <th>Time</th>


            </tr>
        </thead>
        <% @sections_avail.each do |en| %>
                    <tr>
                        <td><%= en.course.department.dep_short_name + '' + en.course.course_number.to_s + '' + en.section_letter%></td>
                        <td><%= en.course.course_full_name.titleize %></td>
                        <td><%= en.course.course_credits %></td>
                        <td><%= en.course_id %></td>
                        <td><%= en.semester + ' ' + en.section_year.to_s %></td>
                        <td><%= en.start_time.strftime "%I:%M" %> - <%= en.end_time.strftime "%I:%M %p" %> <%= en.section_days %></td>
                    </tr>
        <% end %>
    </table>
</div>

<div class ="row">
    <h5>SECTIONS NOT INCLUDING THOSE TAKEN</h5>
    <br>
    <table style ="width:100%" class="blueTable">
        <thead>
            <tr>
                <th>Dep/number</th>
                <th>Course</th>
                <th>Credits</th>
                <th>Professor</th>
                <th>Semester</th>
                <th>Time</th>


            </tr>
        </thead>
        <% @final.each do |en| %>
                    <tr>
                        <td><%= en.course.department.dep_short_name + '' + en.course.course_number.to_s + '' + en.section_letter%></td>
                        <td><%= en.course.course_full_name.titleize %></td>
                        <td><%= en.course.course_credits %></td>
                        <td><%= en.course_id %></td>
                        <td><%= en.semester + ' ' + en.section_year.to_s %></td>
                        <td><%= en.start_time.strftime "%I:%M" %> - <%= en.end_time.strftime "%I:%M %p" %> <%= en.section_days %></td>
                    </tr>
        <% end %>
    </table>
</div>