<%= form_for(@user) do |f| %>
    
<h1 style="text-align:center">Select Interests You Are Pursuing</h1> 

    <div class="field" id="smallTable">
    <%= hidden_field_tag "user[interest_ids][]", nil %>
    <% @interest_order.each do |department, available| %>
    <br>
        <table>
          <thead>
            <tr>
              <th colspan="2"style ="text-align:center"> <%= department[0] %></th>
            </tr>
            <tr>
              <th>Name of Interest</th>
              <th>Select</th>
            </tr>
      </thead>

      
        <% for interest in available %>
          <tr>
            <td><%= label_tag dom_id(interest), interest.department.dep_full_name + ' ' + interest.interest_type %></td>
            <td> <%= check_box_tag "user[interest_ids][]", interest.id, @user.interest_ids.include?(interest.id), id: dom_id(interest) %></td>
          </tr>
        <% end %>
            
    <% end %>        
      </table>
  </div>
  
  
    
		<div style = "width:50%; margin-right:25%;margin-left:25%; text-align:center"><%= f.submit   "Add Interests", class: "btn btn-primary"%></div>
		<br>
<% end %>