

<div class="card text-center">
  <div class="card-header">
    <h5 class="card-title"><%= @section.course.course_full_name %></h5>
     <h6 class="card-subtitle mb-2 text-muted"><%= @section.section_short %></h6>
  </div>
  <div class="card-body">
        <div class="row" >
          <aside class="col-md-6">
            <section style="float:left">
              <p style="text-align:left" class="card-text">
                <strong>Professor:</strong>
                <%= @section.professor %>
                <br>
                 <strong>Time:</strong>
                <%= @section.start_time.strftime "%I:%M" %> - <%= @section.end_time.strftime "%I:%M %p" %>
                <br>
                <strong>Days:</strong>
                 <%= @section.section_days %>
                 <br>
                <strong>Credits:</strong>
                <%= @section.course.course_credits %>
              </p>
            </section>
          </aside>
        </div>
  </div>
</div>
<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
