

<h1>Interests</h1>

  <nav >
      <ul id ="enrollmentnav">
    <% @int_order.each do |int, total| %>
     <% if (int[0]) != @previoustop %>
     
        <li>
          <%= link_to int[0], controller: "interests", action: "index", interest_type: int[0] %>
        </li> 
         <% @previoustop = (int[0]) %>
       
     <% end %>
    <% end %>
   </ul>
  </nav>
  


<% if current_user.admin? %>
  <div style="float:right"><%= link_to 'New Interest', new_interest_path %></div>
<%end%>

<table class = "blueTable">
  <thead>
    <tr>
      <th>Interest name</th>
      <th>Interest type</th>
      <th>Total credits needed</th>
      <th>Department</th>
      <% if current_user.admin? %>
        <th colspan="3"></th>
      <% else %>
        <th>Show</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td><%= interest.interest_name %></td>
        <td><%= interest.interest_type %></td>
        <td><%= interest.total_credits_needed %></td>
        <td><%= interest.department.dep_short_name %></td>
        <td><%= link_to 'Show', interest %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_interest_path(interest) %></td>
          <td><%= link_to 'Destroy', interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


