<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_number %>
    <%= form.number_field :course_number, id: :course_course_number %>
  </div>

  <div class="field">
    <%= form.label :course_full_name %>
    <%= form.text_field :course_full_name, id: :course_course_full_name %>
  </div>

  <div class="field">
    <%= form.label :course_description %>
    <%= form.text_area :course_description, id: :course_course_description %>
  </div>

  <div class="field">
    <%= form.label :course_credits %>
    <%= form.text_field :course_credits, id: :course_course_credits %>
  </div>
  <br>
  <p><b>Check all that apply</b></p>
  
  <div class="field" id="coursereqlabels">
    <%= form.check_box :q_req, id: :course_q_req %>
    <%= form.label :Quantitative_Req %>
  </div>

  <div class="field"  id="coursereqlabels">
    <%= form.check_box :w_req, id: :course_w_req %>    
    <%= form.label :Writing_Req %>
  </div>

  <div class="field"  id="coursereqlabels">
    <%= form.check_box :s_req, id: :course_s_req %>
    <%= form.label :Speech_Req %>
  </div>

  <div class="field"  id="coursereqlabels">
    <%= form.check_box :ah_req, id: :course_ah_req %>    
    <%= form.label :Arts_and_Humanitites_Req %>
  </div>

  <div class="field"  id="coursereqlabels">
    <%= form.check_box :l_req, id: :course_l_req %>
    <%= form.label :Language_Req %>
  </div>

  <div class="field"  id="coursereqlabels">
    <%= form.check_box :sm_req, id: :course_sm_req %>
        <%= form.label :Science_and_Math_Req %>
  </div>

  <div class="field"  id="coursereqlabels">
    <%= form.check_box :ss_req, id: :course_ss_req %>
    <%= form.label :Social_Science_Req %>
  </div>

  <div class="field">
    <%= form.label :Department %> 
    <%= form.select :department_id, @options %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
