

<p>
  <strong>Course number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Course full name:</strong>
  <%= @course.course_full_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department.dep_short_name %>
</p>

<p>
  <strong>Course description:</strong>
  <%= @course.course_description %>
</p>

<p>
  <strong>Course credits:</strong>
  <%= @course.course_credits %>
</p>

<% if @course.q_req == true %>
  <p>
    <strong>Quantitative Requirement</strong>
  </p>
<% end %>

<% if @course.w_req == true %>
  <p>
    <strong>Writing Requirement</strong>
  </p>
<% end %>

<% if @course.s_req == true %>
  <p>
    <strong>Speech Requirement</strong>
  </p>
<% end %>

<% if @course.ah_req == true %>
  <p>
    <strong>Arts and Humanities Requirement</strong>
  </p>
<% end %>

<% if @course.l_req == true %>
  <p>
    <strong>Language Requirement</strong>
  </p>
<% end %>

<% if @course.sm_req == true %>
  <p>
    <strong>Science and Math Requirement</strong>
  </p>
<% end %>

<% if @course.ss_req == true %>
  <p>
    <strong>Social Science Requirement</strong>
  </p>
<% end %>



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
