<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
      <header>
                       <div class ="mainLogo"><%= image_tag("MyPlanLogoTransparent5.png", :alt => "logo", class: "mainLogo", :size => "200x75") %></div>

          <nav>
            <ul id = "navlinks">

              <% if logged_in? %>
                <!-- link to user index -->
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Courses", "#" %></li>
                <li><%= link_to "GamePlan", "#" %></li>
                <li><%= link_to "Interests", "#" %></li>
                <li><%= link_to "Log out", logout_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Log in", login_path %></li>
              <% end %>
             

            </ul>
          </nav>
      </header>
      



	    
      <div>
      <% flash.each do |message_type, message| %>
	        <div class= "alert alert-<%= message_type %>"><%=message %></div>
	    <% end %>
	    <%flash.clear%>

      <div id="mainholderr">
        <div id="main">
          <div class="container">
            <%= yield %>
          </div>
        </div>
      </div>

        <footer class="footer">
          <small>
            Designed by: Dean Meucci
          </small>
          <nav>
            <ul>
              <li><%= link_to "About", '/static_pages/about' %></li>
              <li><%= link_to "Contact", '/static_pages/contact' %></li>
              <li><%= link_to "Help", '/static_pages/help' %></li>
            </ul>
          </nav>
        </footer>
      </div>
    </body>
</html>
